.pythonlibs/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.log
*.pot
*.pyc
*~
.env
.venv
env/
venv/
ENV/
maingame.json
temp_audio/
temp_places/
temp_gifdata/
directory/
*.rbxl
*.rbxlx
*.mp3
*.ogg
*.wav
*.flac
.DS_Store
